[edge_image_release]
image_vendor = "{{ edge_compose_vendor }}"
image_name = "{{ blueprint['name'] }}"
git_source = "{{ edge_compose_blueprint_git_repo }}"
git_version = "{{ edge_compose_blueprint_git_version }}"
git_commit_hash = "{{ git_repo_information['after'] | default('Unknown, possible local modifications') }}"
image_date = "{{ ansible_facts['date_time']['date'] }}"
