[edge_image_release]
image_name = "{{ blueprint['name'] }}"
git_source = "{{ edge_compose_blueprint_git_repo }}"
git_version = "{{ edge_compose_blueprint_git_version }}"
git_commit_hash = "{{ git_repo_information['after'] }}"
